appdirs
appnope
beautifulsoup4
bs4
cached-property
certifi
chardet
click
decorator
defusedxml
Django
dnsrecords
Flask
Flask-WTF
idna
ipython
ipython-genutils
isodate
itsdangerous
jedi
Jinja2
lpthw.web
lxml
MarkupSafe
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pytz
requests
requests-toolbelt
simplegeneric
six
traitlets
urllib3
wcwidth
Werkzeug
WTForms
zeep
tldextract